html, body {
	height: 100%;
	margin: 0;
}

#map {
	width: 100%;
	height: 100%;
}

/* bottone apertura pannello */
.layer-button {
	position: absolute;
	top: 10px;
	left: 50px;

	width: 44px;
	height: 44px;
	background: white;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	cursor: pointer;
	z-index: 1000;

	background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/layers.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/* pannello controlli */
.layer-panel {
	position: absolute;
	top: 60px;
	left: 50px;

	background: white;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 10px;

	display: none;
	z-index: 1000;

	min-width: 200px;
	max-width: 260px;

	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
}

/* gruppo overlay */
.overlay-group {
	margin-top: 5px;
}

/* titoli */
.layer-panel strong {
	display: block;
	margin-top: 5px;
}